* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* FOND */
body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, #0b132b, #1c2541);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* CARTE PRINCIPALE */
.container {
  background: #1f2a44;
  width: 380px;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.45);

  /* ⬇️ STRUCTURE */
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 14px;
}

/* TITRE */
.container h1 {
  text-align: center;
  margin-bottom: 10px;
}

/* LABEL */
label {
  font-size: 13px;
}

/* INPUT TEXTE */
input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

/* ZONE COULEURS = LIGNE */
.colors {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 15px;
}

/* BLOC COULEUR */
.colors div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* INPUT COULEUR */
input[type="color"] {
  width: 70px;
  height: 36px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* QR CARD */
.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* QR */
#qrCanvas {
  width: 160px;
  height: 160px;
}

/* BOUTON */
button {
  margin-top: 8px;
  background: #4cc9f0;
  color: #0b132b;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  padding: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(76, 201, 240, 0.45);
}
